<mat-toolbar color="primary">
  <span routerLink="/home">Interest</span>
  <button *ngIf="isOffline" mat-icon-button color="warn" disabled>
    <mat-icon>wifi_off</mat-icon>
  </button>
  <span class="spacer"></span>
  <button mat-button routerLink="/home" routerLinkActive="active">Főoldal</button>
  <button mat-button
          *ngIf="isLoggedIn"
          routerLink="/likes"
          routerLinkActive="active"
          [ngClass]="{ 'animate-like': isLikeAnimating }"
  >Likeok
  </button>
  <button mat-button
          *ngIf="isLoggedIn"
          routerLink="/downloads"
          routerLinkActive="active"
          [ngClass]="{ 'animate-download': isDownloadAnimating }"
  >Letöltések
  </button>
  <button mat-button
          routerLink="/search"
          routerLinkActive="active"
  >Keresés
  </button>
  <button *ngIf="!isLoggedIn" mat-button routerLink="/login" routerLinkActive="active">Bejelentkezés</button>
  <button *ngIf="!isLoggedIn" mat-button routerLink="/register" routerLinkActive="active">Regisztráció</button>
  <button *ngIf="isLoggedIn" mat-button (click)="onLogOut()">Kijelentkezés</button>
</mat-toolbar>
