<div id="container">
  <div id="login">
    <p>Bejelentkezés</p>

    <mat-form-field appearance="fill">
      <mat-label>E-mail cím</mat-label>
      <input [(ngModel)]="email" type="email" matInput>
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>Jelszó</mat-label>
      <input [(ngModel)]="password" type="password" matInput>
    </mat-form-field>

    <button mat-flat-button (click)="signIn()">Bejelentkezés</button>

    <div id="links">
      <a routerLink="/privacy">Adatvédelmi tájékoztató</a>
      <fa-icon [icon]="faCircle"></fa-icon>
      <a routerLink="/terms">Felhasználási feltételek</a>
      <fa-icon [icon]="faCircle"></fa-icon>
      <a routerLink="/connect">Kapcsolat</a>
    </div>

  </div>

</div>
