<div id="container">
  <div id="new-post-container">
    <p>Új bejegyzés létrehozása</p>
    <form>
      <mat-form-field>
        <mat-label>Szöveg</mat-label>
        <input matInput type="text" [formControl]="titleControl" required>
      </mat-form-field>

      <br>

      <input type="file" (change)="uploadFile($event)"/><br/>
      <img id="uploaded-pic" [src]="fileURL" *ngIf="fileURL"/>

      <div *ngIf="isLoading" class="spinner">
        <mat-spinner></mat-spinner>
      </div>

      <br>

      <mat-form-field class="chip-list">
        <mat-label>Tagek</mat-label>
        <mat-chip-grid #chipGrid aria-label="Tag selection">
          @for (tag of tags(); track $index) {
            <mat-chip-row (removed)="remove(tag)">
              {{tag}}
              <button matChipRemove [attr.aria-label]="'remove ' + tag">
                <mat-icon>cancel</mat-icon>
              </button>
            </mat-chip-row>
          }
        </mat-chip-grid>
        <input
          name="currentFruit"
          placeholder="Tag hozzáadása..."
          #fruitInput
          [(ngModel)]="currentTag"
          [matChipInputFor]="chipGrid"
          [matAutocomplete]="auto"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          (matChipInputTokenEnd)="add($event)"
        />
        <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selected($event)">
          @for (tag of filteredTags(); track tag) {
            <mat-option [value]="tag">{{tag}}</mat-option>
          }
        </mat-autocomplete>
      </mat-form-field>

    </form>

    <div id="buttons">
      <button mat-flat-button (click)="onSave()">Közzététel</button>
      <button mat-button color="secondary" routerLink="/home">Mégse</button>
    </div>
  </div>
</div>
