.postcontainer {
  background: #f4f4f4;
  align-items: center;
  margin: 20px;

  mat-chip {
    background: black !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  img {
    max-width: 95%;
    border-radius: 15px;
    padding: 5px;
  }

  mat-card-actions {
    button {
      margin: 5px;
    }
  }
}


