<mat-card class="postcontainer">

  <div *ngIf="isDownloadsPage" class="delete-button-wrapper">
    <button mat-fab color="warn" (click)="onDeleteButtonClicked(post); openSnackBar('Bejegyzés törölve a letölések közül!')">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div *ngIf="loadingImage" class="image-loading-indicator">
    <mat-spinner color="primary" diameter="60"></mat-spinner>
  </div>

  <img mat-card src="{{post.content || 'https://loremflickr.com/350/750/cat'}}" alt="Kép betöltése..." height="350" width="750"
       (click)="viewFullImage(post.content)"
        (load)="onImageLoad()">
  <mat-card-content>
    <a>{{ post.title || "Lorem ipsum" }}</a>
  </mat-card-content>

  <mat-chip-set>
    @for (tag of post.tags; track $index) {
      <mat-chip [disabled]="isDownloadsPageAndOffline" color="accent" (click)="onTagClicked(tag)">{{ tag }}</mat-chip>
    }
  </mat-chip-set>
  <mat-card-actions>
    <button [disabled]="isDownloadsPageAndOffline || !isLoggedIn" mat-flat-button color="primary" (click)="onLikeButtonClicked(post)">
      {{ isLiked && isLoggedIn ? 'Like törlése' : 'Like' }}
    </button>
    <button [disabled]="isDownloadsPage || downloaded || isPostDownloaded(post) || !isLoggedIn" mat-raised-button color="primary" (click)="onDownloadButtonClicked(post)">
      <ng-container *ngIf="loading">
        <mat-spinner color="warn" diameter="20"></mat-spinner>
      </ng-container>
      <ng-container *ngIf="!loading">
        Letöltés
      </ng-container>
    </button>
  </mat-card-actions>

</mat-card>

<div *ngIf="showFullImage" class="image-modal" (click)="closeModal()">
  <img [src]="fullImageUrl" alt="Full Image" />
</div>
