.postcontainer {
  background: #f4f4f4;
  align-items: center;
  margin: 20px;

  mat-chip {
    background: black !important;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  }

  img {
    margin-top: 15px;
    max-width: 95%;
    max-height: 95%;
    object-fit: cover;
    image-rendering: optimizeQuality;
    border-radius: 15px;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    margin-bottom: 10px;

    &:hover {
      cursor: pointer;
    }
  }

  mat-card-actions {
    button {
      margin: 5px;
    }
  }
}

.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;

  img{
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
  }
}


