<div id="container">
  <div id="terms">
    <h1>Használati feltételek</h1>
    <pre id="text">
      1. Az alkalmazás használatának feltételei

      Az Interest webalkalmazás célja, hogy tudásbázis platformként szolgáljon a felhasználók számára, ahol egymással oszthatnak meg tartalmakat a tanulmányaikkal kapcsolatosan, ezeket egy felhasználó későbbi használatra le tudja menteni. A szolgáltatás használatával elfogadod, hogy betartod a jelen feltételeket.

      2. Fiók létrehozása és használata

      A szolgáltatás teljeskörű használatához felhasználói fiókra van szükség.
      A regisztráció során köteles vagy valós, naprakész információkat megadni.
      Te vagy felelős a fiókod biztonságáért, beleértve a jelszavad védelmét.
      A fiókod használatáért kizárólag te vagy felelős. Ha úgy gondolod, hogy illetéktelen személy használja a fiókodat, azonnal lépj kapcsolatba velünk.

      3. Felhasználói tartalmak

      Az Interest lehetőséget biztosít a felhasználóknak, hogy képeket és más tartalmakat osszanak meg. Az alábbiak érvényesek a felhasználói tartalmakra:

      A közzétett tartalmak nem sérthetik mások jogait, és nem lehetnek törvénysértőek.
      Nem tölthetsz fel sértő, gyűlöletkeltő, zaklató vagy mások méltóságát sértő tartalmat.
      Nem tölthetsz fel vírust, kártékony szoftvert vagy más technikai fenyegetést jelentő tartalmat.
      Az Interest fenntartja a jogot, hogy eltávolítson minden olyan tartalmat, amely a fenti szabályokat sérti, más módon veszélyesnek minősül, vagy amelyet úgy itél, hogy nem kapcsolódik a webalkalmazás céljához.

      4. Felhasználói magatartás

      A szolgáltatás használatakor köteles vagy tiszteletben tartani más felhasználók jogait és szabadságait. Különösen az alábbiak tilosak:

      Hamis információk terjesztése vagy félrevezető adatok közzététele.
      A szolgáltatás vagy más felhasználók adatainak jogosulatlan megszerzése vagy felhasználása.

      5. Szellemi tulajdon

      Az Interest alkalmazás és annak összes tartalma (beleértve, de nem kizárólagosan: szoftver, grafikai elemek, design és funkciók) a szolgáltató szellemi tulajdona, és jogvédelem alatt áll. A felhasználóknak nem áll jogukban ezen tartalmakat másolni, terjeszteni, módosítani vagy kereskedelmi célra felhasználni, kivéve, ha ehhez kifejezett engedélyt kaptak.

      6. Az alkalmazás elérhetősége és működése

      Törekszünk arra, hogy a szolgáltatás zavartalanul működjön, de nem garantáljuk a folyamatos, hibamentes működést. Karbantartások, frissítések vagy egyéb okok miatt a szolgáltatás időszakosan elérhetetlenné válhat.

      7. Felelősség kizárása

      Az Interest nem vállal felelősséget a felhasználók által közzétett tartalmakért, illetve a szolgáltatás hibamentességéért. Nem vállalunk felelősséget semmilyen közvetett vagy közvetlen kárért, amely a szolgáltatás használatából ered.

      8. Adatvédelem

      Az adatvédelmi irányelveinket az Adatvédelmi Tájékoztató tartalmazza, amely elérhető [link az adatvédelmi tájékoztatóhoz]. A rfsocial használatával elfogadod az adatkezelési gyakorlatunkat.

      9. A feltételek módosítása

      Fenntartjuk a jogot, hogy bármikor módosítsuk ezeket a felhasználási feltételeket. A változásokról a felhasználókat értesítjük legalább a hatálybalépés napjától számított 2 héttel előtti napjáig, és a módosított feltételek az értesítés napjától lépnek hatályba.

      10. A szolgáltatás megszüntetése

      Fenntartjuk a jogot, hogy előzetes értesítés nélkül megszüntessük a szolgáltatást vagy korlátozzuk a hozzáférést, különösen, ha a felhasználó megszegi a jelen feltételeket.

      11. Kapcsolatfelvétel

      Amennyiben bármilyen kérdésed vagy észrevételed van a jelen feltételekkel kapcsolatban, lépj velünk kapcsolatba a következő címen: ugyfelszolgalat&#64;interest.hu
    </pre>
  </div>
</div>
