#container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  #terms{
    width: 40%;
    display: flex;
    #text{
      white-space: pre-wrap;
      word-wrap: break-word;
    }
  }
}
