<div id="container">
  <div id="privacy">
    <h1>Adatvédelmi tájékoztató</h1>
    <pre id="text">
      1. Az adatkezelő adatai

      Az 'Interest' webalkalmazás adatkezelője:
      Név: Interest Web kft.
      Székhely: 3011, Heréd, Cica utca 7.
      Kapcsolattartási e-mail: ugyfelszolgalat&#64;interest.hu

      2. Az általunk gyűjtött adatok

      Az azonosításhoz szükséges felhasználónév valamint jelszó, mely titkosítva kerül tárolásra.
      Regisztráció dátuma
      A következő adatokat abban az esetben, amennyiben azt a felhasználó megosztja az adatkezelővel:
      e-mail cím
      születési dátum
      személyes leírás
      bejegyzések
      interakciók

      3. Az adatok felhasználása

      Az adatokat kizárólag az alábbi célokra használjuk fel:

      A felhasználói fiók létrehozása és kezelése.
      A közösségi funkciók (pl. bejegyzés létrehozás, lementés) biztosítása.
      A felhasználói élmény személyre szabása.
      A rendszer teljesítményének és biztonságának biztosítása.

      4. Az adatok biztonsága

      Az adatok védelme érdekében megfelelő technikai és szervezési intézkedéseket alkalmazunk. A jelszavak titkosított formában kerülnek tárolásra, és minden egyéb adatot is bizalmasan kezelünk. Nem adjuk át az adatokat harmadik félnek, kivéve ha azt jogszabály írja elő.

      5. A felhasználói jogok

      Felhasználóinknak az Európai Unió GDPR törvénycsomag alapján joguk van hozzáférni a tárolt adataikhoz, azokat módosítani, illetve kérhetik azok törlését. Az adatokhoz való hozzáférés vagy azok törlése érdekében kérjük, lépjen kapcsolatba az adatkezelővel a fenti elérhetőségeken.

      6. Az adatok tárolásának időtartama

      A felhasználói adatokat addig tároljuk, amíg a felhasználó aktív fiókkal rendelkezik. A fiók törlését követően az adatok véglegesen törlésre kerülnek a rendszerből, kivéve azokat az adatokat, amelyek megőrzését jogszabály írja elő.

      7. Változások az adatvédelmi tájékoztatóban

      Fenntartjuk a jogot, hogy időről időre frissítsük ezt az adatvédelmi tájékoztatót. A változásokról a felhasználókat értesítjük legalább a hatálybalépés napjától számított 2 héttel előtti napjáig, az új szabályok a közzététel napjától lépnek hatályba.
    </pre>
  </div>
</div>
