@use '../../../styles';

@include styles.formatPosts(#posts-container, #posts);

#add{
  position: fixed;
  right: 0;
  bottom: 0;
  margin: 20px;
}

#offlineContainer{
  background-color: styles.$container-color;
  box-shadow: styles.$container-shadow;
  padding: 10px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  align-items: center;
}
